PORT=3000
DATABASE_HOST=your-host.aivencloud.com
DATABASE_PORT=17510
DATABASE_USER=avnadmin
DATABASE_PASSWORD=your-password
DATABASE_NAME=defaultdb
DATABASE_SSL="-----BEGIN CERTIFICATE-----
...your Aiven CA certificate here...
-----END CERTIFICATE-----"
